flask
pymongo
certifi
bcrypt
numpy
pandas
pytz 
python-snappy
pyasn1
zstandard
urllib3
six
pycparser 
pyasn1-modules
MarkupSafe
jmespath
itsdangerous
idna
dnspython
click
charset-normalizer
attrs
Werkzeug
requests
python-dateutil 
Jinja2
cffi
cryptography
botocore
service-identity
s3transfer
pyopenssl
pymongocrypt
boto3
pymongo-auth-aws
pymongo[gssapi,aws,ocsp,snappy,srv,tls,zstd,encryption]
